.widget {
    select {
        max-width: 100%;
    }
}

/* Search widget. */
.widget_search .search-submit {
    display: none;
}

.widget_nav_menu {
    .menu {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
}
