/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Content
  ## Posts and pages
    ## Comments
# Media
    ## Captions
    ## Galleries
# Layout
# Print
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
  color: #333;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  clear: both; }

h1 {
  font-size: 1.875em;
  font-weight: 300; }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.9375em; }

h6 {
  font-size: 0.875em; }

p {
  margin-bottom: 1.5em;
  font-family: inherit;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 0.9375em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 0.9375em; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote {
  border-right: 4px solid #707070;
  color: #707070;
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.625;
  margin-bottom: 1.625em;
  padding-right: 0.7778em; }

blockquote p {
  margin-bottom: 1.5em; }

blockquote > p:last-child {
  margin-bottom: 0; }

blockquote cite, blockquote small {
  font-size: 0.9375em;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.6; }

blockquote em, blockquote i, blockquote cite {
  font-style: normal; }

blockquote strong, blockquote b {
  font-weight: 400; }

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0; }

dl {
  margin-bottom: 1.5em; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 1.5em; }

table, th, td {
  border: 1px solid #ddd; }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 1px 0 0;
  margin: 0 0 1.5em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%; }

caption, th, td {
  font-weight: normal;
  text-align: right; }

th {
  border-width: 0 0 1px 1px;
  font-weight: 700; }

td {
  border-width: 0 0 1px 1px; }

th, td {
  padding: 0.4em; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

figure {
  margin: 0; }

del {
  opacity: 0.8; }

pre {
  padding: 25px;
  overflow: auto;
  overflow-y: hidden;
  white-space: pre; }
  pre code {
    word-wrap: normal;
    border-bottom: none; }

button, input[type="button"], input[type="reset"], input[type="submit"], button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  margin: 0 0.09375em;
  -webkit-font-smoothing: antialiased;
  background-color: #f47534;
  border-radius: 0.1875em;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  text-align: center;
  padding: 0.875em 1.25em;
  width: auto;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
     transition: background-color 0.3s ease-in-out; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus, .button:hover, .button:focus {
    background-color: #d04e0b;
    color: #fff; }
  p > button, p > input[type="button"], p > input[type="reset"], p > input[type="submit"], p > button, p > .button {
    margin-bottom: 0; }
  button.secondary, input[type="button"].secondary, input[type="reset"].secondary, input[type="submit"].secondary, button.secondary, .button.secondary {
    background-color: #f1f4f6;
    color: #333; }
    button.secondary:hover, button.secondary:focus, input[type="button"].secondary:hover, input[type="button"].secondary:focus, input[type="reset"].secondary:hover, input[type="reset"].secondary:focus, input[type="submit"].secondary:hover, input[type="submit"].secondary:focus, button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      background-color: #c2cfd8; }
  button.expand, input[type="button"].expand, input[type="reset"].expand, input[type="submit"].expand, button.expand, .button.expand {
    width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover, textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus, textarea:focus {
    color: #111; }

textarea {
  resize: vertical;
  padding-right: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
a {
  color: #f47534;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
       -o-transition: color 0.1s linear;
          transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #d04e0b; }
  a:active, a:focus {
    outline: none; }

.main-navigation {
  clear: both;
  display: block;
  float: right;
  width: 100%; }
  .main-navigation.toggled .nav-menu {
    display: block; }
  .main-navigation ul {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    display: none;
    list-style: none;
    margin: 0;
    padding-right: 0; }
  .main-navigation li {
    margin: 0 0 0 0.75em;
    float: right;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }
  .main-navigation ul ul {
    float: right;
    position: absolute;
    top: 1.5em;
    right: -999em;
    z-index: 99999; }
    .main-navigation ul ul ul {
      right: -999em;
      top: 0; }
    .main-navigation ul ul a {
      width: 200px; }
    .main-navigation ul ul li:hover > ul {
      right: 100%; }
  .main-navigation ul li:hover > ul {
    right: auto; }

/* Small menu. */
.menu-toggle {
  display: block; }

@media screen and (min-width: 33.75em) {
  .menu-toggle {
    display: none; }
  .main-navigation.toggled .nav-menu {
    display: none; }
  .main-navigation ul {
    display: block; } }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: right;
  margin: 0 0 1.5em 1.5em; }

.alignright {
  display: inline;
  float: left;
  margin: 0 1.5em 1.5em 0; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.alignnone {
  float: none;
  display: block;
  margin: 0; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.outer-container, .site-header, .site-content, .site-footer {
  max-width: 77.5em;
  margin-right: auto;
  margin-left: auto; }
  .outer-container::after, .site-header::after, .site-content::after, .site-footer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 77.5em)  {
    .outer-container, .site-header, .site-content, .site-footer {
      padding: 0 3.75%; } }

.inner-container {
  max-width: 77.5em;
  margin-right: auto;
  margin-left: auto; }
  .inner-container::after {
    clear: both;
    content: "";
    display: table; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline, .updated:not(.published) {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
audio, canvas {
  display: inline-block; }

picture, img, video {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object, video {
  margin-bottom: 1.5em;
  max-width: 100%;
  vertical-align: middle; }
  p > embed, p > iframe, p > object, p > video {
    margin-bottom: 0; }

/* Responsive video wrapper */
.embed-container:not([data-twttr-id]) {
  margin-bottom: 1.5em;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container:not([data-twttr-id]) iframe, .embed-container:not([data-twttr-id]) object, .embed-container:not([data-twttr-id]) embed {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.gallery {
  margin: 1.5em 0 1.5em !important; }
  .gallery::after {
    clear: both;
    content: "";
    display: table; }

.gallery-item {
  position: relative;
  float: right;
  overflow: hidden;
  margin: 0 0 0.25em 0.25em;
  text-align: center; }

.gallery-columns-1 .gallery-item {
  width: 100%; }

.gallery-columns-2 .gallery-item {
  width: 48%; }

.gallery-columns-3 .gallery-item {
  width: 32%; }

.gallery-columns-4 .gallery-item {
  width: 23%; }

.gallery-columns-5 .gallery-item {
  width: 19%; }

.gallery-columns-6 .gallery-item {
  width: 15%; }

.gallery-columns-7 .gallery-item {
  width: 13%; }

.gallery-columns-8 .gallery-item {
  width: 11%; }

.gallery-columns-9 .gallery-item {
  width: 9%; }

.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-left: 0; }

.gallery-icon {
  line-height: 0; }

.gallery-caption {
  display: none; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Print
--------------------------------------------------------------*/
@media print {
  body {
    background: none !important;
    /* Brute force since user agents all print differently. */
    font-size: 11.25pt; }
  .navigation, .page-links, .edit-link, .comment-form, .comment-edit-link, .comment-list .reply a, button, input, textarea, select {
    display: none; }
  .site-header, .site-footer, .hentry, .entry-footer, .page-header, .page-content, .comments-area {
    background: none !important;
    /* Make sure color schemes dont't affect to print */ }
  body, blockquote, blockquote cite, blockquote small, label, a, .site-title a, .site-description, .post-title, .author-heading, .entry-footer, .entry-footer a, .taxonomy-description, .entry-caption, .comment-author, .comment-metadata, .comment-metadata a, .comment-notes, .comment-awaiting-moderation, .no-comments, .site-info, .site-info a, .wp-caption-text, .gallery-caption {
    color: #000 !important;
    /* Make sure color schemes don't affect to print */ }
  pre, abbr[title], table, th, td, .site-header, .site-footer, .hentry + .hentry, .author-info, .page-header, .comments-area, .comment-list + .comment-respond, .comment-list article, .comment-list .pingback, .comment-list .trackback, .no-comments {
    border-color: #eaeaea !important;
    /* Make sure color schemes don't affect to print */ }
  .site {
    margin: 0 7.6923%; }
  .site-branding {
    padding: 0; }
  .site-header {
    padding: 7.6923% 0; }
  .site-description {
    display: block; }
  .hentry + .hentry {
    margin-top: 7.6923%; }
  .hentry.has-post-thumbnail {
    padding-top: 7.6923%; }
  .sticky-post {
    background: #000 !important;
    color: #fff !important; }
  .entry-header, .entry-footer {
    padding: 0; }
  .entry-content, .entry-summary {
    padding: 0 0 7.6923%; }
  .post-thumbnail img {
    margin: 0; }
  .author-info {
    margin: 0; }
  .page-content {
    padding: 7.6923% 0 0; }
  .page-header {
    padding: 3.84615% 0; }
  .comments-area {
    border: 0;
    padding: 7.6923% 0 0; }
  .site-footer {
    margin-top: 7.6923%;
    padding: 3.84615% 0; } }