.wp-caption {
    margin-bottom: $base-spacing;
    max-width: 100%;
    img[class*="wp-image-"] {
        display: block;
        margin: 0 auto;
    }
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: em(12) 0;
}
