.alignleft {
    display: inline;
    float: left;
    margin: 0 $base-spacing $base-spacing 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 0 0 $base-spacing $base-spacing;
}

.aligncenter {
    @include center-block;
}

.alignnone {
    float: none;
    display: block;
    margin: 0;
}
